* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
}

.form-container {
    display: flex;
    align-items: center;
    height: 98vh;
    width: 100%;
    justify-content: center;
}

.form-container .form-wrap h2{
    text-align: center;
    font-size: 2rem;
}
.form-container .form-wrap h6{
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
}

.form-container .form-wrap{
    background: rgb(204, 204, 212);
    width: 30%;
    height: 30;
    padding: 15px 20px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 13px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
}

.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}

.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    background:white;
    color: black;
    font-size: 19px;
    font-weight: 800;
}

/*reset password css*/
.button,
 input{
  display: block;
  margin-bottom: 10px;
}

#alert {
  display: none;
  color: red;
  margin-bottom: 10px;
}