* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: white;
}

.form-container {
    display: flex;
    align-items: center;
    height: 98vh;
    width: 100%;
    justify-content: center;
}

.form-container .form-wrap h2{
    text-align: center;
    font-size: 2rem;
}
.form-container .form-wrap h6{
    text-align: center;
    font-size: 1rem;
    line-height: 1rem;
}

.form-container .form-wrap{
    background: rgb(204, 204, 212);
    width: 30%;
    height: 30;
    padding: 15px 20px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 13px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
}

.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}

.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 8px 14px;
    border: none;
    border-radius: 2px;
    background:white;
    color: black;
    font-size: 19px;
    font-weight: 800;
}

/*reset password css*/
.button,
 input{
  display: block;
  margin-bottom: 10px;
}

#alert {
  display: none;
  color: red;
  margin-bottom: 10px;
}


/*forgot.php css*/

.forget-box
 {
  width:100%;
  max-width:600px;
  background-color:#f9f9f9;
  border:1px solid #ccc;
  border-radius:5px;
  padding:16px;
  margin:100 auto;
 }
 input.parsley-success,
 select.parsley-success,
 textarea.parsley-success {
   color: #468847;
   background-color: #DFF0D8;
   border: 1px solid #D6E9C6;
 }

 input.parsley-error,
 select.parsley-error,
 textarea.parsley-error {
   color: #B94A48;
   background-color: #F2DEDE;
   border: 1px solid #EED3D7;
 }

 .parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
 
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
  }
 
  .parsley-errors-list.filled {
    opacity: 1;
  }
  
  .parsley-type, .parsley-required, .parsley-equalto{
   color:#ff0000;
  }
 .error
 {
   color: red;
   font-weight: 700;
 } 
